.pagination {
  background-color: #F9F9F9;
  margin-bottom: 25px; 
}

.pagination .selected {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  padding: 5px;
}

.pagination ul {
  margin: 10px 0px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination a {
  color: #009CBC;
  font-weight: bold;
  outline: none;
}

.pagination a:hover {
  cursor: pointer;
}

.pagination .break a {
  cursor: default;
}